<div class="instruction-container">
  <div class="instruction-content">
    <h2 class="underlined">Ремонт вашої техніки</h2>
    <hr class="blue-short-line">
    <span class="instruction-text">
      Наша команда професіоналів готова повернути вашу техніку до життя! Ми пропонуємо швидкий та якісний ремонт, гарантуючи надійність і довговічність. Від дрібних поломок до складних несправностей — ми вирішимо будь-яку проблему.
      <br>Також у нас ви можете придбати аксесуари для вашої техніки, а також наклеїти захисне скло чи плівку для додаткового захисту. Звертайтеся до нас і отримайте безкоштовну консультацію!
    </span>
  </div>
  <div class="image-container">
    <img ngSrc="/assets/pictures/maintenance-process.png" alt="maintenance process" height="488" width="725">
  </div>
</div>
