h2 {
  margin-top: 6px;
  margin-bottom: 40px;
}

.facilities {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .facilities {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
}
