<section>
  <h2 class="align-center">Відповіді і поширені запитання</h2>
  <mat-accordion>
    @for (question of questions; track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{question.header}}</mat-panel-title>
          <div class="expansion-button">
            <img ngSrc="/assets/icons/expansion-open.svg" class="open" alt="expansion-open" height="30" width="30">
            <img ngSrc="/assets/icons/expansion-close.svg" class="close" alt="expansion-close" height="4" width="30">
          </div>
        </mat-expansion-panel-header>
        <p>{{question.content}}</p>
      </mat-expansion-panel>
    }
  </mat-accordion>
</section>
