<section>
  <div class="logo">
    <img ngSrc="/assets/icons/logo-light.svg" alt="logo" height="52" width="120" [priority]="0"/>
  </div>
  <div class="footer-right">
    <div class="links">
      <span class="link" (click)="scrollTo('maintenanceScrollPoint')">Ремонт</span>
      <span class="link" (click)="scrollTo('forClientScrollPoint')">Для клієнтів</span>
<!--      <span class="link">Відгуки</span>-->
      <span class="link" (click)="scrollTo('popularQuestionsScrollPoint', 'end')">Поширені запитання</span>
    </div>
    <div class="year">
      &#64;2024-2025
    </div>
  </div>
</section>
