:host section {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;


  .footer-left {
    display: flex;

    .links {
      display: flex;
      align-items: center;
      margin-left: 7vw;

      .link {
        color: white;
        font-family: Roboto Flex, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 23.44px;
        text-align: center;
        text-decoration: underline;
        padding-right: 25px;
      }
    }

    @media (min-width: 2100px) {
      .links {
        margin-left: 147px;
      }
    }
  }

  .year {
    color: white;
    font-family: Roboto Flex, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 19.92px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}
