@mixin tablePadding($padding) {
  td:first-child, th:first-child {
    padding-left: $padding;
  }

  td:last-child, th:last-child {
    padding-right: $padding;
  }
}

:host {
  table {
    width: 100%;
    border-collapse: collapse;

    th {
      font-family: Roboto Flex, sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 37.5px;
      padding-bottom: 15px;
    }

    td {
      font-family: Roboto Flex, sans-serif;
      font-size: 26px;
      font-weight: 400;
      line-height: 30.47px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    td:last-child, th:last-child {
      text-align: end;
    }

    @include tablePadding(100px);

    @media (min-width: 2100px) {
      @include tablePadding(calc((100vw - 1950px) / 2));
    }

    @media (max-width: 1280px) {
      @include tablePadding(20px);
    }
  }
}
