<div class="nav-panel">
  <div class="logo">
    <img ngSrc="/assets/icons/logo-dark.svg" alt="logo" height="52" width="120" [priority]="0"/>
  </div>
  <ul class="nav-buttons">
    <li>Ремонт</li>
    <li>Для клієнтів</li>
<!--    <li>Відгуки</li>-->
    <li>Поширені запитання</li>
  </ul>
  <div class="contacts">
    <span class="address">
      <img ngSrc="/assets/icons/carbon_location.svg" alt="address-icon" height="32" width="32">
      Велика Димерка
    </span>
    <span class="phone-number">
      <img ngSrc="/assets/icons/material-symbols_call.svg" alt="address-icon" height="32" width="32">
      +380660554122
    </span>
  </div>
</div>
