<div class="section-content first-section">
  <app-nav-panel></app-nav-panel>

  <div class="header-content">
    <div class="service-center">
      <h1 class="service-center-label">СЕРВІСНИЙ ЦЕНТР <br> РЕМОНТУ ТЕХНІКИ</h1>
      <hr>
      <span class="service-center-text">Досвідчені майстри, які швидко та якісно<br> вирішать будь-які проблеми вашої техніки.</span>
    </div>
    <div class="image-container">
      <img ngSrc="/assets/background/iphone.png" alt="phone-image" [width]="775" [height]="1019">
    </div>
  </div>
</div>
