:host {
  display: block;
  height: 100vh;
  background: #E3F6FF;

  @media (max-height: 600px) {
    height: 600px;
  }

  section {
    padding-bottom: 0;

    &.first-section {
      position: relative;
    }
  }

  .header-content {
    display: flex;
    height: calc(100vh - 85px);

    @media (max-width: 768px) {
      text-align: center;
    }

    @media (max-height: 600px) {
      height: calc(600px - 85px);
    }

    .service-center {
      margin-top: auto;
      margin-bottom: auto;
      padding-bottom: 100px;

      span, p {
        font-family: Roboto Flex, sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 37.5px;
        text-align: left;

        @media (max-width: 1280px) {
          font-size: 28px;
          font-weight: 400;
          line-height: 32.81px;
        }

        @media (max-width: 768px) {
          font-size: 20px;
          font-weight: 400;
          line-height: 23.44px;
          text-align: center;
        }
      }

      .phone-number-container {
        p {
          margin: 0;
        }

        .phone-number {
          font-weight: 500;
          font-size: 28px;

          @media (max-width: 1280px) {
            font-size: 24px;
          }

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        .phone-number-label {
          margin-bottom: 5px;
          font-size: 24px;

          @media (max-width: 1280px) {
            font-size: 20px;
          }

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }

        margin-top: 25px;
      }

      .phone-number {
        margin-top: 5px;
      }
    }

    .image-container {
      margin-top: auto;
      flex: 1;
      text-align: center;

      padding-left: calc(100vw / 16);

      @media (min-width: 2100px) {
        padding-left: calc((100vw - 1950px) / 2);
      }

      img {
        height: 77vh;
        width: auto;
        padding-bottom: 2px;
      }

      @media (max-width: 1024px) {
        position: absolute;
        right: 30px;
        bottom: 7px;

        img {
          height: auto;
          width: 25vw;
          transform: translateY(7px);
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;
    .header-content {
      flex-direction: column;
      height: auto;

      .service-center {
        padding-bottom: 0;
      }
      .image-container {
        position: initial;
        padding-left: 0;

        img {
          width: 40vw;
          height: auto;
          transform: translateY(74px);
        }
      }
    }
  }

  @media (max-width: 600px) {
    .header-content {
      .image-container {
        img {
          width: 60vw;
        }
      }
    }
  }

  @media (max-width: 350px) {
    .header-content {
      .image-container {
        img {
          width: 80vw;
        }
      }
    }
  }
}
