:host {
  display: block;
  height: 100vh;
  background: #E3F6FF;

  .header-content {
    display: flex;

    .service-center {
      padding-top: 108px;

      .service-center-text {
        font-family: Roboto Flex, sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 37.5px;
        text-align: left;
      }
    }

    .image-container {
      position: absolute;
      top: -30px;
      left: 800px;
      height: calc(100vh + 30px);
      overflow-y: hidden;
    }
  }
}
