@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

// todo refactor theming
$secondary-color: #E3F6FF;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto Flex, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}

h1 {
  font-family: Unbounded, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 74.4px;
  text-align: left;

  @media (max-width: 1280px) {
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.68px;
    text-align: center;
  }

  &.underlined {
    margin-bottom: 10px;
  }
}

h2 {
  font-family: Unbounded, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 49.6px;

  &.underlined {
    margin-bottom: 10px;
  }
}

@media (max-width: 1280px) {
  h2 {
    font-size: 30px;
    line-height: 37.2px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 24px;
    line-height: 29.76px;
  }
}

h5 {
  font-family: Roboto Flex, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;

  @media (max-width: 600px) {
    font-size: 20px;
    line-height: 23.44px;
  }
}

.blue-short-line {
  width: 100px;
  height: 3px;
  margin-left: 0;
  margin-bottom: 30px;
  background: #008ED1;
  border: none;
}

@media (max-width: 1280px) {
  .blue-short-line {
    display: none;
  }
}

.align-center {
  text-align: center;
}

section {
  padding: 120px calc(100vw / 16);
  overflow: hidden;

  &.first-section {
    padding-top: 35px;
  }
}

@media (min-width: 2100px) {
  section {
    padding: 120px calc((100vw - 1950px) / 2);
  }
}

@media (max-width: 1280px) {
  section {
    padding: 35px 20px;
  }
}

section.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.secondary-color-background {
  background-color: $secondary-color;
}

.pt-0 {
  padding-top: 0;
}

// mat-expansion

.mat-accordion mat-expansion-panel.mat-expansion-panel {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #CEEFFF;
  box-shadow: none;
  border-radius: 0!important;

  .mat-expansion-panel-header {
    font-family: Roboto Flex, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    height: auto;

    @media (max-width: 1280px) {
      font-size: 28px;
      line-height: 32.81px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 21.09px;
    }

    &:hover {
      background-color: transparent!important;
    }

    .mat-expansion-indicator {
      display: none;
    }

    .expansion-button {
      display: flex;
      align-items: center;
    }
  }

  &.mat-expanded .expansion-button {
    .close {
      display: block;
    }
    .open {
      display: none;
    }
  }

  &:not(.mat-expanded) .expansion-button {
    .close {
      display: none;
    }
    .open {
      display: block;
    }
  }


  .mat-expansion-panel-body {
    font-family: Roboto Flex, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    padding: 0 0 20px !important;

    p {
      margin: 0;
    }

    @media (max-width: 1280px) {
      font-size: 20px;
      line-height: 23.44px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 14.06px;
    }
  }
}
